<link rel="stylesheet" href="/css/home.css">

<h1>fbclone // <%= title %></h1>
<div id="home-container">
<section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user){ %>
    <form action="/posts/create" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="How you feeling this evening"></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
</section>

<div class="posts-list-container">
    <ul>
            
        <% for (post of posts) { %>
            <%- include('_post') -%>
        <%  } %>
    </ul>
</div>

<section  id="user-friends">
    <h4>Friends</h4>
         
    <% for (i of all_users) { %>
        <p>
            <a href="/users/profile/<%= i.id %>"><%= i.name %> <br></a>
        </p>
    <%  } %>
</section>
</div>
