<h1>
    fb / signin Page
    <form action="/users/signin" method="post">
        <input type="text"  name="email">
        <input type="password"  name="password">
        <input type="submit" value="signin">
    </form>
</h1>